body, html {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    width: 370px;
    text-align: center;
    border-radius: 20px;
}

p {
    margin-bottom: 5px;
    color: #333;
}

input, select, button {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}

input {
    width: 350px;
}

select, #konv {
    width: 100%;
}

button {
    background-color: #2575fc;
    color: white;
    border: 0;
}

#tuker {
    width: 150px;
}

#konv {
    font-weight: bold;
}

#hasil {
    color: #2575fc;
    margin-bottom: 0;
}